header {
  padding: 8px 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
  background: linear-gradient(to top, #18BA00, white);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  > img {
    animation: spin 10s linear infinite;
    width: 32px;
    height: 32px;

  }
}

.colorForm {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.appBody {
  display: flex;
  gap: 15px;
}

.colorApp {
  display: flex;
  flex-direction: column;
}

.colorList {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.configForm {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 15px;
  }
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight:normal;
  gap: 8px;
}
.setting input:not([type="checkbox"]) {
  width: 50px;
  flex-grow: 0;
}
.setting input[type="checkbox"] {
  margin-right: 12px;
}
.settingGroup {
  display: flex;
  gap: 8px;
}

.colorExamples {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column {
  flex-shrink: 0;
  min-width: 300px;
}