header {
  padding: 8px 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
  background: linear-gradient(to top, #18BA00, white);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  > img {
    animation: spin 10s linear infinite;
    width: 32px;
    height: 32px;

  }
}

nav.nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.colorApp {
  display: flex;
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.colorList {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.configForm {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 15px;
  }
}

.main {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.column {
  flex-shrink: 0;
  min-width: 300px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.addButton {
  /* existing styles */
  animation: moveGradient 50s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline-offset: 0;
  height: 100px;
  flex-shrink: 0;
  background: linear-gradient(transparent 0%, var(--color-bg) 100%), linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet, red );
  background-size: 5000px 180px;
  background-repeat: repeat-x;
}