header {
  padding: 8px 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
  background: linear-gradient(to right, red, orange, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appBody {
  display: flex;
  gap: 15px;
}

.colorApp {
  display: flex;
  flex-direction: column;
}

.colorList {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.configForm {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 15px;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.setting input {
  width: 50px;
  flex-grow: 0;
}

.colorExamples {
  overflow: auto;
}

label {
  display: inline-block;
  margin-right: 10px;
}

.column {
  flex-shrink: 0;
  min-width: 300px;
}