.colorInput {
  display: flex;
  gap: 15px;
}

.colorSample {
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
}

input.input {
  font-size: 18px;
  padding: 5px 10px;
  background-color: transparent;
  color: inherit;
  margin-right:50px;
  border: 0;
  font-size: 32px;
  letter-spacing: .1ch;
  font-weight: 400;
  border: 2px solid transparent;
}

input.input:focus {
  border: 2px solid currentColor;
  outline: none;
}

.toggle {
  border: 0;
  background: transparent;
  color: var(--color-txt);
  transition: transform 0.3s ease-in-out;
}
.open {
  transform: rotate(180deg);
}
.toggle svg {
  fill: currentColor;
}

.label {
  display: flex;
  gap: 8px;
  overflow: auto;
  padding-right: 50px;
}

.colorExamples {
  overflow: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 4px;
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight:normal;
  gap: 8px;
}

.setting input:not([type="checkbox"]), .setting select {
  width: 70px;
  flex-grow: 0;
}

.setting input[type="checkbox"] {
  margin-right: 12px;
}

.settingGroup {
  display: flex;
  gap: 8px;
}

.colorSwatch {
  width: 50px;
  aspect-ratio: 1;
  padding: 5px;
  text-align: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  
  &:hover, &:focus {
    z-index: 2;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  }
}

.swatchSpotlight {
  margin-top: 15px;
  width: 200px;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.colorPanel {
  white-space: nowrap;
  display:flex;
  gap: 4px;
}

.controls {
  display: flex;
  gap: 15px;
  justify-content: center;
}
