.colorInput {
  display: flex;
  gap: 15px;
}

.colorSample {
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
}

input.input {
  font-size: 16px;
  padding: 2px 18px;
}
.toggle {
  border: 0;
  background: transparent;
  color: var(--color-txt);
  transition: transform 0.3s ease-in-out;
}
.open {
  transform: rotate(180deg);
}
.toggle svg {
  fill: currentColor;
}

.colorExamples {
  display: flex;
  gap: 15px;
  padding: 15px 0;
}

.label {
  display: flex;
  gap: 8px;
  overflow: auto;
  padding-right: 50px;
}

.colorExamples {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight:normal;
  gap: 8px;
}
.setting input:not([type="checkbox"]) {
  width: 50px;
  flex-grow: 0;
}
.setting input[type="checkbox"] {
  margin-right: 12px;
}
.settingGroup {
  display: flex;
  gap: 8px;
}


.colors {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colorSpot {
  width: 150px;
  padding: 5px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 50%;
  display: inline-block;
  border-radius: 4px;
  transform: scale(1);
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  
  &:hover {
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  }
}
.colorPanel {
  white-space: nowrap;
  display:flex;
  gap:15px;
}