details.dialog {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  position: static;
  border: 0;
  padding: 15px;
  background-size: 300px 250px;
  background-repeat: repeat-x;
}

details.dialog summary {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
}

details.dialog summary svg {
  transition: transform 0.3s ease-in-out;
}


details.dialog[open] summary svg {
  transform: rotate(180deg);
}

details.dialog summary::-webkit-details-marker, 
details.dialog summary::marker {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  background-image: url("/chameleon/checkerboard.svg"), linear-gradient(var(--color-bg) 0%, var(--color-bg) 100%);
  background-size: 20px, 20px;
  color: var(--color-txt);
  border-radius: 6px;
  margin-top: 10px;
  padding: 15px;
}