details.dialog {
  position: relative;
  padding-right: 20px; /* Add padding for the chevron */
  width: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  position: static;
  border: 0;
}


details.dialog summary {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--color-bg);
}
details.dialog summary::after {
  content: "";
  transform: translate(7px, -5px) rotate(135deg);
  width: 0;
  height: 0;
  position: relative;
  top: 10px;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: transparent transparent transparent var(--color-txt); /* Adjust the color of the chevron */
  transition: all 0.3s ease-in-out;
  transform-origin: 10px;
}

details.dialog[open] summary::after {
  top: 0px;
  transform: translate(10px, -5px) rotate(315deg);
}

details.dialog summary::-webkit-details-marker, 
details.dialog summary::marker {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
}